body {
  margin: 5px;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.container {
  display: grid;

  grid-column-gap: 0em;
  grid-row-gap: 0em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-columns: 30% 70%; better to use fr(actional) */
  /* grid-template-columns: repeat(3, 1fr) */
  grid-column-gap: 1em;
  grid-row-gap:1em;
  grid-auto-rows: minmax(10px, auto);
    /* ^ Set all row heights to 100 */

}

.app-title {
  text-align: center;
  grid-row: 1/2;
  grid-column: 3/5;
  border: #333 1px solid;
}


.doggo-label {
  text-transform: capitalize;
  text-align: center;
  grid-row: 2/3;
  grid-column: 3/5;
  border: #333 1px solid;

}

.doggo-image {
  grid-column: 1/3;
  grid-row: 1/3;
  max-width: 100%;
  border: #333 1px solid;
}

.dog-breed-list-container {
  border: #333 1px solid;
  grid-column: 1/5;
  grid-row: 3/7;
  columns: 5
  

}

.dog-breed-button {
  margin: 2px;
  height: 3em;
  min-width: 100%;
  width: 100%;
  background-color: #2C6975;
  color: white;
  text-transform: capitalize;
  border: #333 1px solid;
}

.dog-breed-button:hover {
  background-color: #23C5DE;
}

.dog-breed-button:focus {outline:0;}
